/* Custom properties/variables  */
:root {
  --black: #0b0c10;
  --dark-grey: #1f2833;
  --light-grey: #c5c6c7;
  --mute-green: #45a29e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bebas Neue", sans-serif;
  color: var(--light-grey);
  background: var(--black);
}

nav {
  background: var(--mute-green);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1em;
}

a {
  text-decoration: none;
  color: var(--light-grey);
  cursor: pointer;
}

section {
  padding-top: 60px;
}

#welcome-section {
  height: 100vh;
  background: var(--black);
  padding-top: 51px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#welcome-section {
  padding: 0.5em;
}

#welcome-section hr {
  color: white;
  width: 80%;
}

#welcome-section a {
  padding: 0.5em;
}

#projects {
  background: var(--dark-grey);
  display: flex;
  flex-direction: column;
}

.project-tile {
  border: 3px var(--mute-green) solid;
}

.project-tile img {
  width: 100%;
}

.project-tile h2 {
  text-align: center;
}

figcaption {
  text-align: center;
}

figcaption a {
  padding: 0.5em;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#contact h2 {
  text-align: center;
}

footer {
  text-align: center;
  padding: 2rem;
}

@media screen and (min-width: 768px) {
  body {
    font-size: calc(1rem + 1vw);
    max-width: 1024px;
    margin: auto;
  }

  #projects {
    flex-direction: row;
    justify-content: space-around;
  }
}
